<h1>All Genres</h1>

<% @genres.each do |genre| %>
  <%= link_to genre.name, genre_path(genre) %>
<% end  %>

<% #if current_admin? %>
  <h1>Create a new Genre</h1>

  <%= form_for @genre do |f| %>
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  	<%= f.submit %>
  <% end %>
