<h1>All Genres</h1>
<% if current_admin? %>
<h2>Create A New Genre</h2>

<%= form_for [Genre.create] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
  <%= f.submit %>
  <% end %>
<% end %>

<% @genres.each do |genre| %>
  <ul>
    <li>Name: <%=link_to genre.name, genre_path(genre)%></li>
  </ul>
  <% end %>
