<h1>Genres</h1>

<% if current_admin? %>
  <%= form_for @genre do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
  <% end %>
<% end %>

<% @genres.each do |g| %>
  <li><%= g.name %></li>
  <% end %>
