<h1>Genres</h1>


<% @genres.each do |g| %>
  <li><%= link_to "#{g.name}", genre_path(g) %></li>
  <% end %>


    <%= form_for [:admin, @genre] do |f| %>
      <div>
      <%= f.label :name%>
      <%= f.text_field :name %>
      </div>
      <div>
<%= f.submit %>
</div>
<% end %>
