<h1><%= @genre.name %></h1>
<h2>Average Song Rating: <%= @genre.avg_rating %></h2>

<div id="highest-rated-song">
  <h4><%= @genre.highest_rated_song.title %></h4>
  <p>Rating: <%= @genre.highest_rated_song.rating %></p>
</div>

<div id="lowest-rated-song">
  <h4><%= @genre.lowest_rated_song.title %></h4>
  <p>Rating: <%= @genre.lowest_rated_song.rating %></p>
</div>

<h2>Songs in this Genre</h2>
<% @genre_songs.each do |song| %>
	<ul>
		<li><%= song.title %></li>
	</ul>
<% end %>