<h1><%= @genre.name %></h1>

<h3>All Songs in This Genre:</h3>
<div id="all-songs">
  <ul>
    <% @songs.each do |song| %>
    <li>Title: <%= song.title %></li>
    <li>Length: <%= song.length %></li><br>
    <li>Play Count: <%= song.play_count %></li><br>
    <li>Rating: <%= song.rating %></li><br>
    <% end %>
  </ul>
</div>