<h1> Genres for this <%= @song.title %>
  
<% @song.genres.each do |genre| %>
  <%= genre.name %>
<% end %>


<h1> <%= @song.title %> </h1>
<p>by <%= @song.artist.name %> </p>
<p>by <%= @song.rating %> </p>


