<h1> <%= @song.title %> </h1>
<p>by <%= @song.artist.name %> </p>
Play Count: <%= @song.play_count %>
Rating: <%= @song.rating %>

Genres for this song: <% @song.genres.each do |genre| %>
<%= genre.name %>
<% end %>
